Project/bin
.vs/Project/v16/.suo
*.props
*.cache
*.exe
Project/obj/x64/Debug/net5.0/Project.csproj.FileListAbsolute.txt
*.dll
*.editorconfig
*.pdb
*.pdb
Project/obj/x64/Debug/net5.0/apphost.exe
*.cache
*.editorconfig
Project/obj/project.assets.json
Project/obj/Project.csproj.nuget.dgspec.json
*.props
*.cache
*.exe
*.cache
*.editorconfig
.vs/Project/v16/.suo
*.v2
*.json
*.props
*.cache
*.cache
Project/obj/x64/Debug/net5.0/Project.csproj.FileListAbsolute.txt
*.dll
*.editorconfig
*.pdb
*.v2
.vs/Project/v16/.suo
*.dll
Project/obj/x64/Debug/net5.0/Project.pdb
Project/obj/x64/Debug/net5.0/Project.dll
*.pdb
